<section  class="contact">
  <div class="about-us-container">
    <div class="contact-wrapper">

      <div data-aos="fade-right" class="contact-us">
        <h3 id="cont-title">ÜBER UNS</h3>
        <p  class="mb-4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
           Facere eveniet minima incidunt cumque asperiores impedit magni,
            eum, sunt eius deleniti quam accusantium libero quidem rem dolorum ea delectus harum earum.
        </p>

        <div class="flex-1">
          <p>
            <span>Öffnungszeiten des Ladens:</span> <br>
            Öffnungszeit. MO-SO (11:00-14:00//17:00-23:00)
          </p>

        </div>

        <form id="contactForm" name="contactForm" class="contactForm">
          <div class="row">

            <div class="row-1">
              <div class="row-1-ch">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>Telefon</span>
                <p>
                  0521-201135
                </p>
              </div>
              <div class="row-1-ch">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span>Email</span>
                <p>
                  georgioskerimov@gmail.com
                </p>
              </div>
              <div class="row-1-ch">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Standort</span>
                <p>
                  Potsdamer str 121, 33 719 Bielefeld
                </p>
              </div>
            </div>

          </div>
        </form>
      </div>


      <div class="wrp-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4911.21354220746!2d8.598497000000002!3d52.014043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba3d238ec1b3d7%3A0xa097e46bde85ef51!2sSyrtaki%20bei%20Meister!5e0!3m2!1sde!2sde!4v1690552589577!5m2!1sde!2sde" width="100%" height="570px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>
  </div>
</section>
