<h3 class="main-title">Tägliche Angeboten</h3>
<div class="container">
  <app-slider
    [slidesStore]="slidesStore"
    [customOptions]="customOptions"
  ></app-slider>

  <div class="inside-view-main">
    <div class="inside-view-container">
      <h3>Die Innenansicht</h3>
      <div class="live-music-main">
        <h4 data-aos="zoom-in" style="margin-bottom: 25px;">Live music</h4>
          <div class="row aligner aligners">
            <div class="col-md-6">
              <div class="t">
                <span data-aos="fade-right" class="live-music-text">Am ersten Samstag des Monats laden wir Musiker aus
                  dem sonnigen Griechenland zu uns ein. Musik, Lieder und
                  Tänze machen Ihren Abend Lustig und interessant.
                  Tischreservierungen werden telefonisch entgegengenommen. 
                  Wir freuen uns auf ihren Besuch.
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div data-aos="zoom-in"  class="music-img-div"><img class="music-img" src="/assets/img/music img.jpg" alt=""></div>
            </div>
          </div>
      </div>

      <div class="pickup-order-main">
      <div data-aos="zoom-in" class="pickup-order-text-container">
        <div class="pickup-order-title-container">
          <h4>Abhol Angebot</h4>
          <h4 style="color: #FD7E14;">-10.50€</h4>
        </div>
        <span class="pickup-order-text">Bestellen Sie essen zu mit nehmen auf unserer Abhol Angebot oder wählen Sie ein Gericht nach Ihrem Geschmack aus unserer Speisekarte.</span>
      </div>
      <div class="row aligner alignerss" style="flex-direction: row-reverse;">
        <div class="col-md-6">
          <div data-aos="zoom-in-left" class="pickup-order-menu">
            <span>94a. Gyros</span>
            <span>62a. Suflaki — meat skewers</span>
            <span>68a. Leber vom Schwein</span>
            <span>95a. Gyros — Pfännchen</span>
            <span>70a. Suzukia — Hackfleisch</span>
            <span class="pickup-order-text-second">Zu allen Fleischgerichten gehört Reis oder Pommes und gemischter Salat dazu.</span>
          </div>
        </div>
        <div class="col-md-6">
        <div data-aos="zoom-in" class="order-img-div"><img class="order-img" src="/assets/img/shop img.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
