<h3 class="main-title">Tägliche Angeboten</h3>

<div class="container">
  <app-slider
    [slidesStore]="slidesStore"
    [customOptions]="customOptions"
  ></app-slider>
</div>

<div class="inside-view-main">
  <div class="inside-view-container">
    <h3>Die Innenansicht</h3>
    <div class="live-music-main">
      <h4>Live music</h4>
      <div class="live-music-container">
        <span class="live-music-text">Am ersten Samstag des Monats laden wir Musiker aus
          dem sonnigen Griechenland zu uns ein. Musik, Lieder und
           Tänze machen Ihren Abend Lustig und interessant.
          Tischreservierungen werden telefonisch entgegengenommen. 
         Wir freuen uns auf ihren Besuch.
       </span>
       <div class="music-img-div"><img class="music-img" src="/assets/img/music img.jpg" alt=""></div>
      </div>
    </div>

    <div class="pickup-order-main">
     <div class="pickup-order-text-container">
      <h4>Abhol Angebot</h4>
      <h4 style="color: #e30d0d;">-10.50€</h4>
      <span class="pickup-order-text">Bestellen Sie essen zu mit nehmen auf unserer Abhol Angebot oder wählen Sie ein Gericht nach Ihrem Geschmack aus unserer Speisekarte.</span>
     </div>
      <div class="pickup-order-container">
        <div class="pickup-order-menu">
          <span>94a. Gyros</span>
          <span>62a. Suflaki — meat skewers</span>
          <span>68a. Leber vom Schwein</span>
          <span>95a. Gyros — Pfännchen</span>
          <span>70a. Suzukia — Hackfleisch</span>
          <span class="pickup-order-text-second">Zu allen Fleischgerichten gehört Reis oder Pommes und gemischter Salat dazu.</span>
        </div>
       <div class="order-img-div"><img class="order-img" src="/assets/img/shop img.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>
