<div id="fullpage">
  <!-- <ng-container *ngIf="false">

    <div class="container">
     

      <div class="inside-view-main">
        <div class="inside-view-container">

        </div>
      </div>
    </div>
  </ng-container> -->
  <div class="section">
    <div class="slide" data-anchor="slide1">
      <h3 class="main-title">Tägliche Angeboten</h3>
      <app-slider
        [slidesStore]="slidesStore"
        [customOptions]="customOptions"
      ></app-slider>
    </div>
  </div>

  <div class="section section-b">
    <div class="slide" data-anchor="slide2">
      <div class="live-music-main">
        <h3>Die Innenansicht</h3>
        <h4 style="margin-bottom: 25px;">Live music</h4>
        <div class="row aligner aligners">
          <div class="col-md-6">
            <div class="t">
              <span class="live-music-text">Am ersten Samstag des Monats laden wir Musiker aus
                dem sonnigen Griechenland zu uns ein. Musik, Lieder und
                Tänze machen Ihren Abend Lustig und interessant.
                Tischreservierungen werden telefonisch entgegengenommen.
                Wir freuen uns auf ihren Besuch.
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="music-img-div"><img class="music-img" src="/assets/img/music img.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-b">
    <div class="slide" data-anchor="slide3">
      <div class="pickup-order-main">
        <div  class="pickup-order-text-container">
          <div class="pickup-order-title-container">
            <h4>Abhol Angebot</h4>
            <h4 style="color: #FD7E14;">-10.50€</h4>
          </div>
          <span class="pickup-order-text">Bestellen Sie essen zu mit nehmen auf unserer Abhol Angebot oder wählen Sie ein Gericht nach Ihrem Geschmack aus unserer Speisekarte.</span>
        </div>
        <div class="row aligner alignerss" style="flex-direction: row-reverse;">
          <div class="col-md-6">
            <div class="pickup-order-menu">
              <span>94a. Gyros</span>
              <span>62a. Suflaki — meat skewers</span>
              <span>68a. Leber vom Schwein</span>
              <span>95a. Gyros — Pfännchen</span>
              <span>70a. Suzukia — Hackfleisch</span>
              <span class="pickup-order-text-second">Zu allen Fleischgerichten gehört Reis oder Pommes und gemischter Salat dazu.</span>
            </div>
          </div>
          <div class="col-md-5">
            <div class="order-img-div"><img class="order-img" src="/assets/img/shop img.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-b">
    <div class="slide" data-anchor="slide4">
      <section  class="contact">
        <div class="about-us-container">
          <div class="contact-wrapper">
      
            <div class="contact-us">
              <h3 id="cont-title">ÜBER UNS</h3>
              <p  class="mb-4 ">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                 Facere eveniet minima incidunt cumque asperiores impedit magni,
                  eum, sunt eius deleniti quam accusantium libero quidem rem dolorum ea delectus harum earum.
              </p>
      
              <div class="flex-1">
                <p>
                  <span>Öffnungszeiten des Ladens:</span> <br>
                  Öffnungszeit. MO-SO (11:00-14:00//17:00-23:00)
                </p>
      
              </div>
      
              <form id="contactForm" name="contactForm" class="contactForm">
                <div class="row">
      
                  <div class="row-1">
                    <div class="row-1-ch">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <span>Telefon</span>
                      <p>
                        0521-201135
                      </p>
                    </div>
                    <div class="row-1-ch">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <span>Email</span>
                      <p>
                        georgioskerimov@gmail.com
                      </p>
                    </div>
                    <div class="row-1-ch">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>Standort</span>
                      <p>
                        Potsdamer str 121, 33 719 Bielefeld
                      </p>
                    </div>
                  </div>
      
                </div>
              </form>
            </div>
    
            <div class="wrp-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4911.21354220746!2d8.598497000000002!3d52.014043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba3d238ec1b3d7%3A0xa097e46bde85ef51!2sSyrtaki%20bei%20Meister!5e0!3m2!1sde!2sde!4v1690552589577!5m2!1sde!2sde" width="100%" height="570px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
      
          </div>
        </div>
      </section>
      
    </div>
  </div>

  <div class="section section-b">
    <div class="slide" data-anchor="slide5">
       <app-footer></app-footer>
    </div>
  </div>
</div>
