.main-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    padding-top: 3rem;
    margin: 0;
}

.inside-view-main{
    width: 100%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 100px;
}
.inside-view-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.live-music-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    width: 100%;
}
.live-music-text{
    width: 33rem;
    text-align: center;
}
.live-music-container{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.music-img-div{
    width: 352px;
    height: 395px;
}
.music-img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.pickup-order-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    width: 100%;
}
.pickup-order-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pickup-order-text{
    width: 48rem;
    padding-bottom: 55px;
    text-align: center;
}
.pickup-order-text-second{
    width: 25rem;
    padding-top: 20px;
    text-align: center;
}
.pickup-order-container{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.pickup-order-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-img-div{
    width: 352px;
    height: 395px;
}
.order-img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

 @media only screen and (max-width: 991.50px) {
 .live-music-container{
     flex-direction: column-reverse;
     justify-content: center;
     padding-top: 55px;
  }
  .live-music-text{
    padding-top:30px;
    width: 100%;
  }
  .pickup-order-container{
     justify-content: center;
  }
  .pickup-order-menu{
     align-items: center;
  }
  .pickup-order-container{
     flex-direction: column-reverse;
  }
  .pickup-order-text{
     width: 100%;
  }
  .pickup-order-text-second{
    width: 100%;
  }
  .pickup-order-menu{
    padding-top:30px;
  }
 }

 @media only screen and (max-width: 620px) {
     .live-music-text{
       padding-top:30px;
       width: 100%;
     }
     .pickup-order-text{
        width: 100%;
     }
     .pickup-order-text-second{
       width: 100%;
     }
     .pickup-order-menu{
       padding-top:30px;
     }
     .order-img-div{
        width: auto;
        height: auto;
     }
     .music-img-div{
        width: auto;
        height: auto;
     }
    }
  