
.footer{
    width: 100%;
    background-color: rgba(254,251,236, 0.8) !important;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5rem;
    margin: 0 4rem;
}
.footer-group1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.footer-image{
    width: 11rem;
    height: 3.6399999999999997rem;
    margin-bottom: 1rem;
}
.footer-text{
    color: black;
    width: 530px;
    text-align: start;
    margin-bottom: 20px;
    line-height: 23px;
}
.footer-copyright{
    color: black;
    font-weight: 600;
    padding-bottom: 34px;
}
.footer-group2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 100px;
}
.footer-links{
    color: black;
    display: flex;
    gap: 1.3rem;
    list-style: none;
    padding: 0;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 15px;
    white-space: nowrap;
}
.footer-item a{
    cursor: pointer;
    color: black;
}
.footer-item a:hover{
    color: #FD7E14;
    transition: .3s;
}
.linkedin-color:hover{
    color: #d97e4a;
    transition: .3s;
}
.footer-icons{
    color: black;
    font-size: 30px;
    gap: 35px;
    display: flex;
}
.footer-icons{
    padding: 0px;

    .fa{
        color: black;
    }

    .fa:hover{
        color: #FD7E14;
        font-size: 35px;
        transition: .3s;
    }
}
.footer-links-responsive{
    display: none;
}
//footer responsive//
@media screen and (max-width:1420px) {
    .footer-links{
        flex-wrap: wrap;
    }
    }

@media screen and (max-width:1200px) {
.footer-links-responsive{
   color: black;
   display: flex;
   letter-spacing: 2px;
   font-weight: 600;
   gap: 1.3rem;
   font-size: 15px;
   padding: 0px;
}
.footer-links{
    display: none;
}
.footer-text{
    width: 100%;
}
.footer-container{
    padding-bottom: 0.5rem;
}
.footer-group2{
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.footer-copyright{
    padding: 0;
}
}

@media screen and (max-width:969px) {
    .footer-links-responsive{
         flex-direction: column;
     }
     .footer-group1{
         align-items: center;
         text-align: center;
     }
     .footer-container{
        flex-direction: column;
     }
     .footer-text{
         text-align: center;
     }
     .footer-group2{
         flex-direction: column;
         align-items: center;
     }
     .footer-icons{
         gap: 30px;
     }
     .footer-copyright{
         font-size: 14px;
     }
 } 

