<footer class="footer">
  <div data-aos="zoom-in" class="footer-container">
    <div class="footer-group1">
      <a routerLink="main"
        ><img class="footer-image" src="/assets/img/Untitled-1.webp" alt=""
      /></a>
      <ul class="footer-links-responsive">
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="main">Tägliche Angeboten</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="games">Speisekarte</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="aboniments">Online Tischreservierung</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="contacts">Abhol Angebot</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="contacts">Kontakt</a>
        </li>
      </ul>
      <p class="footer-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Omnis accusantium laboriosam soluta expedita excepturi
          quisquam earum, fugiat in architecto, distinctio deleniti
           voluptatem animi sequi voluptatibus unde, ad autem?.
      </p>
      <p class="footer-copyright">Powered By SSA</p>
    </div>
    <div class="footer-group2">
      <ul class="footer-links">
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="main">Tägliche Angeboten</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="games">Speisekarte</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="aboniments">Online Tischreservierung</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="contacts">Abhol Angebot</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="contacts">Kontakt</a>
        </li>
      </ul>
      <ul class="footer-icons">
        <a target="_blank" href="https://www.facebook.com/syrtakibeimeister/"><i class="fa fa-facebook-square footer-item"></i></a>
        <!-- <a href=""><i class="fa fa-twitter footer-item"></i></a> -->
        <a target="_blank" href="https://www.instagram.com/syrtakibeimeister/"><i class="fa fa-instagram footer-item"></i></a>
      </ul>
    </div>
  </div>
</footer>
