<footer class="footer">
  <div data-aos="zoom-in" class="footer-container">
    <div class="footer-group1">
      <a routerLink="main"
        ><img class="footer-image" src="/assets/img/909.jpg" alt=""
      /></a>
      <ul class="footer-links-responsive">
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="main"> მთავარი</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="games"> თამაშები</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="aboniments"> აბონიმენტი</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="contacts"> კონტაქტი</a>
        </li>
      </ul>
      <p class="footer-text">
        Board Games Tavsatekhi – სამაგიდო თამაშების ყველაზე დიდი მაღაზიაა
        საქართველოში, სადაც თავმოყრილია 300-ზე მეტი შემეცნებითი, გასართობი და
        საინტერესო სამაგიდო თამაში. მაღაზიის გარდა ადგილზე ფუნქციონირებს კლუბიც,
        სადაც შესაძლებელია სხვადასხვა სამაგიდო თამაშის ადგილზე თამაში.
      </p>
      <p class="footer-copyright">Powered By XXX</p>
    </div>
    <div class="footer-group2">
      <ul class="footer-links">
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="main"> მთავარი</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="games"> თამაშები</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="aboniments"> აბონიმენტი</a>
        </li>
        <li class="footer-item">
          <a routerLinkActive="active" routerLink="contacts"> კონტაქტი</a>
        </li>
      </ul>
      <ul class="footer-icons">
        <a href=""><i class="fa fa-facebook-square footer-item"></i></a>
        <a href=""><i class="fa fa-twitter footer-item"></i></a>
        <a href=""><i class="fa fa-instagram footer-item"></i></a>
      </ul>
    </div>
  </div>
</footer>
