<div class="wrapper">
    <div class="title" *ngIf="title">
        <span class="popular-games-text">
            {{title}}
        </span>
    </div>
    <owl-carousel-o class="popular-games-carousel" [options]="customOptions">
        <ng-container
            class="games-carousel-container"
            *ngFor="let slide of slidesStore"
        >
            <ng-template carouselSlide [id]="slide.id">
            <div class="carousel-content">
              <div class="img">
                <img
                  class="carousel-img"
                  [src]="slide.src"
                  [alt]="slide.alt"
                  [title]="slide.title"
                />
              </div>
                <h3 class="games-title">{{ slide.title }}</h3>
                <span class="games-description">{{ slide.description }}</span>
            </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
